/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;500;700&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    scroll-padding-top: 2rem;
    scroll-behavior: smooth;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

:root {
    --main-color: #FD4646;
    /* defino las variables con el color */
    --text-color: #171427;
    --bg-color: #FFF;
    --btnCompra-color: #3483FA;
    --btnVaciar-color: #ffc107;
    --header-color: #212529;
    --textHeader-color: rgb(226, 214, 214);
}

img {
    width: 100%;
}

.container {
    max-width: 1068px;
    margin: auto;
    width: 100%;
}

section {
    padding: 4rem 0 3rem;
}

/* Header */
header {
    position: flex;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 1px 4px rgba(79, 73, 73, 0.1);
    z-index: 100;
    background: var(--header-color);
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}

.logo {
    width: 10rem;
    cursor: pointer;
}

.cart-icon {
    width: 2.5rem;
    cursor: pointer;
}

.bagde-cart-icon {
    position: fixed;
    top: 50px;
    right: 445px;
    font-size: 12px;
    text-align: center;
    width: 20px;
    border-radius: 10px;
    background-color: #ffc107;
    padding: 2px;
}

/* Section */
.section-title {
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 1.5rem;
}

.prod-destacados-symbol {
    color: var(--main-color);
}

/* menu */
.lista-menu{
    display: flex;
    flex-direction: row;
}

.item{
    padding: 1rem;
}

.item a{
    color: #EBE7D9;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.item a:hover{
    color: #ddd5a9;
}

.banner{
    margin-bottom: 1.5rem;
    display: flex;
    justify-content: center;
}

.banner-style{
    width: 1068px;
}

.banner-style:hover{
    opacity: 0.9;
}

/* Tienda */
.shop-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, auto));
    gap: 1.5rem;
}

.producto-box {
    position: relative;
    padding: 20px;
}

.producto-box:hover {
    padding: 10px;
    border: 1px solid var(--text-color);
    transition: 0.4s;
}

.product-img {
    width: 100%;
    height: auto;
    margin-bottom: 0.5rem;
}

.product-title {
    font-size: 1.1rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
}

.price {
    font-weight: 500;
}

.add-cart {
    position: absolute;
    bottom: 0;
    right: 0;
    background: var(--text-color);
    color: var(--bg-color);
    padding: 10px;
    cursor: pointer;
}

.add-cart:hover {
    background: hsl(249, 32%, 17%);
}

/* ayuda */
.p-ayuda{
    margin-bottom: 2rem;
}

/* contacto */
.main-form{
    display: flex;
    flex-direction: column;

    padding: 10px;
}

.contact-form p{
    padding-bottom: 20px;
    text-align: center;
}

.form-item{
    padding: 10px;
}

.form-item label{
    font-size: 18px;
    font-weight: bold;
}

.form-item input{
    height: 45px;
    width: 100%;
    font-size: 16px;
    padding: 10px;
}

.form-item input:focus{
    outline: 0;
    border: 1px solid #31ca31;
}

.form-item textarea{
    height: 100px;
    width: 100%;
    font-size: 16px;
    padding: 10px;
    resize: none;
}

.form-item textarea:focus{
    outline: 0;
    border: 1px solid #31ca31;
}

.contacto-enviar, .contacto-reset{
    height: 45px;
    width: 100px;
    font-size: 16px;
    font-weight: 500;
    padding: 10px;
    background: #3483FA;
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 3px;
}

.contacto-enviar:hover{
    background: #5992e8;
}

.contacto-reset{
    background: #FD4646;
}

.contacto-reset:hover{
    background: #f06565;
}

/* footer */
.footer-end{
    width: 100%;
    background: var(--header-color);
}

.footer-end .group-1{
    width: 100%;
    max-width: 1068px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;
}

.footer-end .group-1 .box .figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-end .group-1 .box h2{
    color: #EBE7D9;
    margin-bottom: 25px;
    font-size: 20px;
}

.footer-end .group-1 .box p{
    color: #EBE7D9;
    margin-bottom: 10px;
}

.footer-end .group-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #EBE7D9;
    margin-right: 10px;
    background-color: #343637;
    text-align: center;
    transition: all 300ms ease;
}

.footer-end .group-1 .red-social a:hover{
    color: var(--main-color);
}

.footer-end .group-2{
    background-color: #343637;
    padding: 15px 10px;
    text-align: center;
    color: #EBE7D9;
}

.footer-end .group-2 small{
    font-size: 15px;
}

/* Responsive */
@media (max-width: 1080px) {
    .nav {
        padding: 15px;
    }

    section {
        padding: 3rem 0 2rem;
    }

    .container {
        margin: 0 auto;
        width: 90%;
    }

    .shop {
        margin-top: 2rem !important;
    }
}

@media (max-width: 800px) {
    .footer-end .group-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        padding: 35px 0px;
    }
}

@media (max-width: 400px) {
    .nav {
        padding: 11px;
    }

    .logo {
        font-size: 1rem;
    }

    .cart {
        width: 320px;
    }
}

@media (max-width: 320px) {
    .shop {
        margin-top: 1rem !important;
    }

    .cart {
        width: 280px;
    }

    .section-title {
        font-size: 1.2rem;
        font-weight: 600;
        text-align: center;
        margin-bottom: 1.5rem;
        margin-top: 1rem;
    }
}